In [2]:
import pandas as pd

In [23]:
a= pd.read_excel(r'C:\Users\Manoj\OneDrive\Desktop\data\bank\Attribute DataSet.xlsx')

In [24]:
type(a)

pandas.core.frame.DataFrame

In [25]:
a

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [26]:
#by defualt it will choose very first sheet in excel but incase data in different excel sheet

In [27]:
pd.read_excel(r'C:\Users\Manoj\OneDrive\Desktop\data\bank\Attribute DataSet.xlsx',sheet_name = 'manoj')

   kaljsdf  4654  sddf
0   asdfas   465     a
1  asdfdsa    46    af
2    fasfs     4    af
3       ff  5843     f
4      sfs    43     a
5     fafa    58     f
6     fafa     5  asdf
7       af     5    tr
8        f     5     e

In [28]:
#if dont want bydefualt raw header

In [29]:
pd.read_excel(r'C:\Users\Manoj\OneDrive\Desktop\data\bank\Attribute DataSet.xlsx',sheet_name = 'manoj',header = None)

         0     1     2
0  kaljsdf  4654  sddf
1   asdfas   465     a
2  asdfdsa    46    af
3    fasfs     4    af
4       ff  5843     f
5      sfs    43     a
6     fafa    58     f
7     fafa     5  asdf
8       af     5    tr
9        f     5     e

In [30]:
#want to give coulmn name

In [31]:
pd.read_excel(r'C:\Users\Manoj\OneDrive\Desktop\data\bank\Attribute DataSet.xlsx',sheet_name = 'manoj', names=['A','B','C'])

         A     B     C
0   asdfas   465     a
1  asdfdsa    46    af
2    fasfs     4    af
3       ff  5843     f
4      sfs    43     a
5     fafa    58     f
6     fafa     5  asdf
7       af     5    tr
8        f     5     e

In [39]:
pd

In [33]:
#if want to show raw from top

In [36]:
a.head(2)

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0

In [37]:
a.head(5)

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0

In [67]:
#if want to show raw from bottom

In [41]:
a.tail(2)

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [69]:
#read csv file (the file entity are separete by ",")

In [43]:
pd.read_csv(r'C:\Users\Manoj\OneDrive\Desktop\data\haberman.csv')

     30  64   1  1.1
0    30  62   3    1
1    30  65   0    1
2    31  59   2    1
3    31  65   4    1
4    33  58  10    1
..   ..  ..  ..  ...
300  75  62   1    1
301  76  67   0    1
302  77  65   3    1
303  78  65   1    2
304  83  58   2    2

[305 rows x 4 columns]

In [44]:
pd.read_csv(r'C:\Users\Manoj\OneDrive\Desktop\data\haberman.csv',header=None, names= ['age',"patient's year of operation",'Number of positive','Survival status'])

     age  patient's year of operation  Number of positive  Survival status
0     30                           64                   1                1
1     30                           62                   3                1
2     30                           65                   0                1
3     31                           59                   2                1
4     31                           65                   4                1
..   ...                          ...                 ...              ...
301   75                           62                   1                1
302   76                           67                   0                1
303   77                           65                   3                1
304   78                           65                   1                2
305   83                           58                   2                2

[306 rows x 4 columns]

In [72]:
#if comma ',' is not there and something else so it will not separete so for that use "sep"

In [73]:
pd.read_csv(r'C:\Users\Manoj\OneDrive\Desktop\herbane2.txt')

      30#64#1#1
0     30#62#3#1
1     30#65#0#1
2     31#59#2#1
3     31#65#4#1
4    33#58#10#1
..          ...
300   75#62#1#1
301   76#67#0#1
302   77#65#3#1
303   78#65#1#2
304   83#58#2#2

[305 rows x 1 columns]

In [74]:
pd.read_csv(r'C:\Users\Manoj\OneDrive\Desktop\herbane2.txt',sep = "#")

     30  64   1  1.1
0    30  62   3    1
1    30  65   0    1
2    31  59   2    1
3    31  65   4    1
4    33  58  10    1
..   ..  ..  ..  ...
300  75  62   1    1
301  76  67   0    1
302  77  65   3    1
303  78  65   1    2
304  83  58   2    2

[305 rows x 4 columns]

In [75]:
#read data from github using link(copy reprocitory link and use it)

In [76]:
pd.read_csv(r'https://raw.githubusercontent.com/selva86/datasets/master/Smarket.csv')

      Year   Lag1   Lag2   Lag3   Lag4   Lag5   Volume  Today Direction
0     2001  0.381 -0.192 -2.624 -1.055  5.010  1.19130  0.959        Up
1     2001  0.959  0.381 -0.192 -2.624 -1.055  1.29650  1.032        Up
2     2001  1.032  0.959  0.381 -0.192 -2.624  1.41120 -0.623      Down
3     2001 -0.623  1.032  0.959  0.381 -0.192  1.27600  0.614        Up
4     2001  0.614 -0.623  1.032  0.959  0.381  1.20570  0.213        Up
...    ...    ...    ...    ...    ...    ...      ...    ...       ...
1245  2005  0.422  0.252 -0.024 -0.584 -0.285  1.88850  0.043        Up
1246  2005  0.043  0.422  0.252 -0.024 -0.584  1.28581 -0.955      Down
1247  2005 -0.955  0.043  0.422  0.252 -0.024  1.54047  0.130        Up
1248  2005  0.130 -0.955  0.043  0.422  0.252  1.42236 -0.298      Down
1249  2005 -0.298  0.130 -0.955  0.043  0.422  1.38254 -0.489      Down

[1250 rows x 9 columns]

In [4]:
#extract data from website(whatever the data in tabular form will be executed so paste website link and got result)

In [5]:
pd.read_html(r'https://www.basketball-reference.com/leagues/NBA_2015_totals.html')

[      Rk          Player Pos Age   Tm   G  GS    MP   FG  FGA  ...   FT%  ORB  \
 0      1      Quincy Acy  PF  24  NYK  68  22  1287  152  331  ...  .784   79
 1      2    Jordan Adams  SG  20  MEM  30   0   248   35   86  ...  .609    9
 2      3    Steven Adams   C  21  OKC  70  67  1771  217  399  ...  .502  199
 3      4     Jeff Adrien  PF  28  MIN  17   0   215   19   44  ...  .579   23
 4      5   Arron Afflalo  SG  29  TOT  78  72  2502  375  884  ...  .843   27
 ..   ...             ...  ..  ..  ...  ..  ..   ...  ...  ...  ...   ...  ...
 670  490  Thaddeus Young  PF  26  TOT  76  68  2434  451  968  ...  .655  127
 671  490  Thaddeus Young  PF  26  MIN  48  48  1605  289  641  ...  .682   75
 672  490  Thaddeus Young  PF  26  BRK  28  20   829  162  327  ...  .606   52
 673  491     Cody Zeller   C  22  CHO  62  45  1487  172  373  ...  .774   97
 674  492    Tyler Zeller   C  25  BOS  82  59  1731  340  619  ...  .823  146

      DRB  TRB  AST  STL BLK  TOV   PF   PTS
 0    222  301   68   27  22   60  147   398
 1     19   28   16   16   7   14   24    94
 2    324  523   66   38  86   99  222   537
 3     54   77   15    4   9    9   30    60
 4    220  247  129   41   7  116  167  1035
 ..   ...  ...  ...  ...  ..  ...  ...   ...
 670  284  411  173  124  25  117  171  1071
 671  170  245  135   86  17   75  115   685
 672  114  166   38   38   8   42   56   386
 673  265  362  100   34  49   62  156   472
 674  319  465  113   18  52   76  205   833

 [675 rows x 30 columns]]

In [6]:
b = pd.read_html(r'https://www.basketball-reference.com/leagues/NBA_2015_totals.html')

In [7]:
type(b)

list

In [8]:
len(b)   #mean only one table

1

In [9]:
b[0]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [7]:
a = pd.read_html(r'https://www.screener.in/company/YESBANK/')

In [16]:
a

[            Unnamed: 0 Mar 2020 Jun 2020 Sep 2020 Dec 2020 Mar 2021 Jun 2021  \
 0              Revenue     5221     5486     5245     5321     3989     4525
 1             Interest     3948     3578     3272     2761     3003     3123
 2           ExpensesÂ +     6637     2469     2398     3561     6731     1995
 3     Financing Profit    -5363     -560     -425    -1001    -5744     -593
 4   Financing Margin %    -103%     -10%      -8%     -19%    -144%     -13%
 5       Other IncomeÂ +     6894      621      597     1087      689      869
 6         Depreciation       -0       -0       -0       -0       -0       -0
 7    Profit before tax     1531       60      173       87    -5055      276
 8                Tax %     -72%      25%      25%     -74%      25%      25%
 9         Net ProfitÂ +     2629       45      129      151    -3788      207
 10           EPS in Rs     2.09     0.04     0.05     0.06    -1.51     0.08
 11         Gross NPA %   16.80%   17.30%   16.90%   15.36%   15.41%   15.60%
 12           Net NPA %    5.03%    4.96%    4.71%    4.04%    5.88%    5.78%
 13             Raw PDF      NaN      NaN      NaN      NaN      NaN      NaN

    Sep 2021 Dec 2021 Mar 2022 Jun 2022 Sep 2022 Dec 2022 Mar 2023
 0      4652     4898     4948     5135     5474     5872     6216
 1      3140     3134     3128     3285     3483     3901     4111
 2      1990     2142     2198     2217     2704     3045     2916
 3      -477     -378     -378     -366     -712    -1074     -811
 4      -10%      -8%      -8%      -7%     -13%     -18%     -13%
 5       778      734      882      781      920     1143     1082
 6        -0       -0       -0       -0       -0       -0       -0
 7       301      356      503      415      208       69      271
 8       25%      25%      27%      25%      26%      25%      25%
 9       226      266      367      311      153       52      202
 10     0.09     0.11     0.15     0.12     0.06     0.02     0.07
 11   14.97%   14.65%   13.93%   13.45%   12.89%    2.02%    2.17%
 12    5.55%    5.29%    4.53%    4.17%    3.60%    1.03%    0.83%
 13      NaN      NaN      NaN      NaN      NaN      NaN      NaN  ,
             Unnamed: 0 Mar 2012 Mar 2013 Mar 2014 Mar 2015 Mar 2016 Mar 2017  \
 0              Revenue     6307     8294     9981    11572    13533    16425
 1             Interest     4692     6075     7265     8084     8967    10627
 2           ExpensesÂ +      982     1499     2048     2539     3402     4739
 3     Financing Profit      634      720      668      949     1165     1059
 4   Financing Margin %      10%       9%       7%       8%       9%       6%
 5       Other IncomeÂ +      857     1257     1722     2046     2712     4157
 6         Depreciation       41       52       63       85      111      171
 7    Profit before tax     1450     1926     2326     2910     3766     5044
 8                Tax %      33%      32%      30%      31%      33%      34%
 9         Net ProfitÂ +      977     1301     1618     2005     2539     3330
 10           EPS in Rs     5.54     7.25     8.97     9.60    12.08    14.59
 11   Dividend Payout %      14%      17%      18%      19%      17%      16%

    Mar 2018 Mar 2019 Mar 2020 Mar 2021 Mar 2022 Mar 2023
 0     20267    29625    26067    20042    19024    22697
 1     12530    19816    19261    12613    12526    14780
 2      6536    11740    39152    14822     7926    10881
 3      1201    -1931   -32347    -7394    -1428    -2964
 4        6%      -7%    -124%     -37%      -8%     -13%
 5      5224     4590    11856     3012     3262     3927
 6       231      302      336      353      398       -0
 7      6194     2357   -20826    -4735     1436      963
 8       32%      27%      21%      27%      26%      26%
 9      4225     1720   -16418    -3462     1066      717
 10    18.34     7.43   -13.08    -1.38     0.43     0.25
 11      15%      27%      -0%      -0%      -0%      -0%  ,
   Compounded Sales Growth Compounded Sales Growth.1
 0               10 Years:                       11%
 1                5 Years:                        2%
 2                3 Years:                       -5%
 3                    TTM:                       19%,
   Compounded Profit Growth Compounded Profit Growth.1
 0                10 Years:                        -6%
 1                 5 Years:                       -30%
 2                 3 Years:                        27%
 3                     TTM:                       -33%,
   Stock Price CAGR Stock Price CAGR.1
 0        10 Years:               -16%
 1         5 Years:               -45%
 2         3 Years:               -17%
 3          1 Year:                31%,
   Return on Equity Return on Equity.1
 0        10 Years:                -1%
 1         5 Years:               -11%
 2         3 Years:                -2%
 3       Last Year:                 2%,
             Unnamed: 0  Mar 2012  Mar 2013  Mar 2014  Mar 2015  Mar 2016  \
 0      Share CapitalÂ +       353       359       361       418       421
 1             Reserves      4324      5449      6761     11262     13366
 2         BorrowingsÂ +     63308     87878     95506    117396    143379
 3  Other LiabilitiesÂ +      5641      5419      6388      7094      8098
 4    Total Liabilities     73626     99104    109016    136170    165263
 5       Fixed AssetsÂ +       169       218       273       293       412
 6                 CWIP         8        11        20        26        59
 7          Investments     27757     42976     40950     43228     48838
 8       Other AssetsÂ +     45691     55899     67772     92623    115954
 9         Total Assets     73626     99104    109016    136170    165263

    Mar 2017  Mar 2018  Mar 2019  Mar 2020  Mar 2021  Mar 2022  Mar 2023
 0       456       461       463      2510      5011      5011       NaN
 1     21598     25298     26441     19216     28185     28731       NaN
 2    181481    275632    336034    219154    226896    269396       NaN
 3     11525     11056     17888     16946     13451     15082       NaN
 4    215060    312446    380826    257827    273543    318220       NaN
 5       609       761       767       716      2087      2009       NaN
 6        75        72        50       293        62       124       NaN
 7     50032     68399     89522     43915     43319     51896       NaN
 8    164345    243214    290487    212903    228075    264192       NaN
 9    215060    312446    380826    257827    273543    318220       NaN  ,
                        Unnamed: 0  Mar 2012  Mar 2013  Mar 2014  Mar 2015  \
 0  Cash from Operating ActivityÂ +      3588       541      4449     -2340
 1  Cash from Investing ActivityÂ +     -4863     -6742     -2799     -3608
 2  Cash from Financing ActivityÂ +      1365      6681       176      7574
 3                   Net Cash Flow        90       480      1826      1625

    Mar 2016  Mar 2017  Mar 2018  Mar 2019  Mar 2020  Mar 2021  Mar 2022  \
 0      -292      4379    -21878    -24661    -57641     55428     23623
 1     -4036     -4477     -8685     -6223     14096       440    -14548
 2      4989     11429     35748     33039     25038    -34942      8256
 3       661     11331      5185      2155    -18507     20926     17331

    Mar 2023
 0    -25626
 1    -12901
 2     11284
 3    -27243  ,
   Unnamed: 0 Mar 2012 Mar 2013 Mar 2014 Mar 2015 Mar 2016 Mar 2017 Mar 2018  \
 0      ROE %      23%      25%      25%      21%      20%      19%      18%

   Mar 2019 Mar 2020 Mar 2021 Mar 2022  Mar 2023
 0       7%     -68%     -13%       3%       NaN  ,
      Unnamed: 0  Jun 2020  Sep 2020  Dec 2020  Mar 2021  Jun 2021  Sep 2021  \
 0        FIIsÂ +      1.66     11.16     15.01     13.77     10.45      7.92
 1        DIIsÂ +     69.11     49.28     47.34     46.71     47.10     45.87
 2  GovernmentÂ +      0.00      0.00      0.00      0.00      0.00      0.00
 3      PublicÂ +     29.23     39.56     37.65     39.52     42.45     46.21

    Dec 2021  Mar 2022  Jun 2022  Sep 2022  Dec 2022  Mar 2023
 0      8.17     10.97     11.37     12.15     23.24     23.10
 1     45.55     44.01     43.93     43.91     38.19     37.77
 2      0.00      0.00      0.00      0.01      0.01      0.01
 3     46.28     45.02     44.70     43.94     38.54     39.10  ,
      Unnamed: 0  Mar 2017  Mar 2018  Mar 2019  Mar 2020  Mar 2021  Mar 2022  \
 0   PromotersÂ +     20.19     20.01     19.80      1.42      0.00      0.00
 1        FIIsÂ +     46.65     42.62     40.33      1.86     13.77     10.97
 2        DIIsÂ +     23.31     24.79     20.98     69.17     46.71     44.01
 3  GovernmentÂ +      0.00      0.00      0.00      0.00      0.00      0.00
 4      PublicÂ +      9.85     12.58     18.89     27.55     39.52     45.02

    Mar 2023
 0      0.00
 1     23.10
 2     37.77
 3      0.01
 4     39.10  ]

In [12]:
type(a)

list

In [13]:
len(a)

10

In [14]:
a[0]

,Unnamed: 0,Dec 2019,Mar 2020,Jun 2020,Sep 2020,Dec 2020,Mar 2021,Jun 2021,Sep 2021,Dec 2021,Mar 2022,Jun 2022,Sep 2022,Dec 2022
0,Revenue,5643,5221,5486,5245,5321,3989,4525,4652,4898,4948,5135,5474,5872
1,Interest,4578,3948,3578,3272,2761,3003,3123,3140,3134,3128,3285,3483,3901
2,ExpensesÂ +,26463,6637,2469,2398,3561,6731,1995,1990,2142,2198,2217,2704,3045
3,Financing Profit,-25398,-5363,-560,-425,-1001,-5744,-593,-477,-378,-378,-366,-712,-1074
4,Financing Margin %,-450%,-103%,-10%,-8%,-19%,-144%,-13%,-10%,-8%,-8%,-7%,-13%,-18%
5,Other IncomeÂ +,626,6894,621,597,1087,689,869,778,734,882,781,920,1143
6,Depreciation,0,0,0,0,0,0,0,0,0,0,0,0,0
7,Profit before tax,-24772,1531,60,173,87,-5055,276,301,356,503,415,208,69
8,Tax %,25%,-72%,25%,25%,-74%,25%,25%,25%,25%,27%,25%,26%,25%
9,Net Profit,-18560,2629,45,129,151,-3788,207,226,266,367,311,153,52
10,EPS in Rs,-72.77,2.09,0.04,0.05,0.06,-1.51,0.08,0.09,0.11,0.15,0.12,0.06,0.02
11,Gross NPA %,18.87%,16.80%,17.30%,16.90%,15.36%,15.41%,15.60%,14.97%,14.65%,13.93%,13.45%,12.89%,2.02%
12,Net NPA %,5.97%,5.03%,4.96%,4.71%,4.04%,5.88%,5.78%,5.55%,5.29%,4.53%,4.17%,3.60%,1.03%
13,Raw PDF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
a[1]

,Unnamed: 0,Mar 2011,Mar 2012,Mar 2013,Mar 2014,Mar 2015,Mar 2016,Mar 2017,Mar 2018,Mar 2019,Mar 2020,Mar 2021,Mar 2022,TTM
0,Revenue,4042,6307,8294,9981,11572,13533,16425,20267,29625,26067,20042,19024,21429
1,Interest,2795,4692,6075,7265,8084,8967,10627,12530,19816,19261,12613,12526,13797
2,ExpensesÂ +,743,982,1499,2048,2539,3402,4739,6536,11740,39152,14822,7926,10163
3,Financing Profit,504,634,720,668,949,1165,1059,1201,-1931,-32347,-7394,-1428,-2531
4,Financing Margin %,12%,10%,9%,7%,8%,9%,6%,6%,-7%,-124%,-37%,-8%,-12%
5,Other IncomeÂ +,623,857,1257,1722,2046,2712,4157,5224,4590,11856,3012,3262,3726
6,Depreciation,35,41,52,63,85,111,171,231,302,336,353,398,0
7,Profit before tax,1092,1450,1926,2326,2910,3766,5044,6194,2357,-20826,-4735,1436,1195
8,Tax %,33%,33%,32%,30%,31%,33%,34%,32%,27%,21%,27%,26%,NaN
9,Net Profit,727,977,1301,1618,2005,2539,3330,4225,1720,-16418,-3462,1066,882
10,EPS in Rs,4.19,5.54,7.25,8.97,9.60,12.08,14.59,18.34,7.43,-13.08,-1.38,0.43,0.35
11,Dividend Payout %,12%,14%,17%,18%,19%,17%,16%,15%,27%,0%,0%,0%,NaN

In [16]:
a[2]

  Compounded Sales Growth Compounded Sales Growth.1
0               10 Years:                       12%
1                5 Years:                        3%
2                3 Years:                      -14%
3                    TTM:                       19%

In [17]:
a[9]

,Unnamed: 0,Jun 2020,Sep 2020,Dec 2020,Mar 2021,Jun 2021,Sep 2021,Dec 2021,Mar 2022,Jun 2022,Sep 2022,Dec 2022,Mar 2023
0,FIIsÂ +,1.66,11.16,15.01,13.77,10.45,7.92,8.17,10.97,11.37,12.15,23.24,23.10
1,DIIsÂ +,69.11,49.28,47.34,46.71,47.10,45.87,45.55,44.01,43.93,43.91,38.19,37.77
2,GovernmentÂ +,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.01,0.01
3,PublicÂ +,29.23,39.56,37.65,39.52,42.45,46.21,46.28,45.02,44.70,43.94,38.54,39.10

In [83]:
#how to read json data(JavaScript Object Notation) and json data basically combination of dictionary

In [11]:
aa = pd.read_json(r'https://api.github.com/repos/pandas-dev/pandas/issues')

In [12]:
aa

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,closed_at,author_association,active_lock_reason,draft,pull_request,body,reactions,timeline_url,performed_via_github_app,state_reason
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/53699,1760932298,PR_kwDOAA0YD85TNRAl,53699,API / COW: ensure every new Series/DataFrame a...,...,NaT,MEMBER,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...,The issue at https://github.com/pandas-dev/pan...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/53698,1760143859,PR_kwDOAA0YD85TKjmp,53698,Fixed #52234,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,* Copied fix from https://github.com/ltauro/pa...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/53697,1759719196,PR_kwDOAA0YD85TJLAO,53697,PERF: concatenation of MultiIndexed objects (M...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #53574\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53696,1759663606,I_kwDOAA0YD85o4lX2,53696,ENH: allow EAs to override MergeOperation._get...,...,NaT,MEMBER,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53695,1759620451,I_kwDOAA0YD85o4a1j,53695,API/DEPR: pd.array don't cast numpy int/float/...,...,NaT,MEMBER,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53694,1759619509,I_kwDOAA0YD85o4am1,53694,API: rename PandasArray -> NumpyExtensionArray,...,NaT,MEMBER,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/53693,1759617720,PR_kwDOAA0YD85TI12G,53693,CI: Pin pandas-gbq above 0.15 to get rid of wa...,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53692,1759310617,I_kwDOAA0YD85o3PMZ,53692,DEPR: deprecate DataFrame.last and Series.last,...,NaT,MEMBER,NaN,NaN,NaN,just opening this so it's not forgotten - xref...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/53689,1759168615,PR_kwDOAA0YD85THVNf,53689,DOC: Fixing EX01 - Added examples,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] All [code checks passed](https://pandas....,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53687,1758810954,I_kwDOAA0YD85o1VNK,53687,BUG: `period_range` gives incorrect output,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53686,1758770837,I_kwDOAA0YD85o1LaV,53686,BUG: to_json returns incorrect timestamps if D...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53685,1758725292,I_kwDOAA0YD85o1ASs,53685,BUILD: Issue while creating DEV environment us...,...,NaT,NONE,NaN,NaN,NaN,### Installation check\n\n- [X] I have read th...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53684,1758499730,I_kwDOAA0YD85o0JOS,53684,BUG: Plotting with DatetimeIndex with specific...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/53683,1758449039,PR_kwDOAA0YD85TE5J-,53683,TST: Add test for duplcated columns and usecol...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #11823 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/53682,1758401860,PR_kwDOAA0YD85TEu8P,53682,BUG: series with complex nan,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] Closes #53627\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/53681,1758139998,PR_kwDOAA0YD85TD2dO,53681,BUG: inconsistent behavior of DateOffset #47953,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #47953\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/53680,1757811232,PR_kwDOAA0YD85TCv_q,53680,REF: move values_for_json to EA,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/53679,1757726269,PR_kwDOAA0YD85TCc-J,53679,TST: Use more pytest fixtures,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/53678,1757720322,PR_kwDOAA0YD85TCbn_,53678,BUG: astype('category') on dataframe backed by...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #53658\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53676,1757536688,I_kwDOAA0YD85oweGw,53676,Trying to get data with a closed cursor,...,NaT,NONE,NaN,NaN,NaN,https://github.com/pandas-dev/pandas/blob/66e3...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53675,1757449829,I_kwDOAA0YD85owI5l,53675,DOC: `.to_string` `float_format` behavior inco...,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53674,1757439162,I_kwDOAA0YD85owGS6,53674,DOC: Inconsistent use of code-style formatting...,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53673,1757420298,I_kwDOAA0YD85owBsK,53673,DOC: Unclear description for `header` in `read...,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/53671,1757347090,PR_kwDOAA0YD85TBJoG,53671,DEPR: downcast keyword,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #40988 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53668,1756990368,I_kwDOAA0YD85ouYug,53668,BUG: non-nano Timestamp methods return wrong r...,...,NaT,MEMBER,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53667,1756968694,I_kwDOAA0YD85ouTb2,53667,DOC: No meaningful link to source for delegate...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53666,1756944221,I_kwDOAA0YD85ouNdd,53666,BUG: Unnecessary NonExistentTimeError when res...,...,NaT,MEMBER,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53665,1756710283,I_kwDOAA0YD85otUWL,53665,ENH: Python 3.12 support,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Feature Type\r\n- [X] Adding platform supp...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53664,1756679843,I_kwDOAA0YD85otM6j,53664,BUG: resampling empty series loses time zone f...,...,NaT,MEMBER,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53663,1756411618,I_kwDOAA0YD85osLbi,53663,BUG: Casting to float32 + groupby leads to dif...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN

In [9]:
js = pd.read_json(r'https://api.github.com/repos/pandas-dev/pandas/issues')

In [86]:
##json file can view in json viewer website by copy paste all json data, website link :- http://jsonviewer.stack.hu/

In [87]:
js.columns

Index(['url', 'repository_url', 'labels_url', 'comments_url', 'events_url',
       'html_url', 'id', 'node_id', 'number', 'title', 'user', 'labels',
       'state', 'locked', 'assignee', 'assignees', 'milestone', 'comments',
       'created_at', 'updated_at', 'closed_at', 'author_association',
       'active_lock_reason', 'draft', 'pull_request', 'body', 'reactions',
       'timeline_url', 'performed_via_github_app', 'state_reason'],
      dtype='object')

In [88]:
js['user']

0     {'login': 'jonashaag', 'id': 175722, 'node_id'...
1     {'login': 'twoertwein', 'id': 6618166, 'node_i...
2     {'login': 'twoertwein', 'id': 6618166, 'node_i...
3     {'login': 'Leohanhart', 'id': 23247070, 'node_...
4     {'login': 'joooeey', 'id': 28426758, 'node_id'...
5     {'login': 'weikhor', 'id': 36619387, 'node_id'...
6     {'login': 'MarcoGorelli', 'id': 33491632, 'nod...
7     {'login': 'FlorinAndrei', 'id': 901867, 'node_...
8     {'login': 'dannyi96', 'id': 15380498, 'node_id...
9     {'login': 'phofl', 'id': 61934744, 'node_id': ...
10    {'login': 'jbrockmendel', 'id': 8078968, 'node...
11    {'login': 'jasperhyp', 'id': 52191793, 'node_i...
12    {'login': 'joooeey', 'id': 28426758, 'node_id'...
13    {'login': 'pratikpatel2512', 'id': 12968839, '...
14    {'login': 'WillAyd', 'id': 609873, 'node_id': ...
15    {'login': 'phofl', 'id': 61934744, 'node_id': ...
16    {'login': 'phofl', 'id': 61934744, 'node_id': ...
17    {'login': 'fredspizza', 'id': 36796860, 'node_...
18    {'login': 'phofl', 'id': 61934744, 'node_id': ...
19    {'login': 'CarlosHartmann', 'id': 65766894, 'n...
20    {'login': 'devmcp', 'id': 48351339, 'node_id':...
21    {'login': 'BarkotBeyene', 'id': 38720673, 'nod...
22    {'login': 'phofl', 'id': 61934744, 'node_id': ...
23    {'login': 'simonjayhawkins', 'id': 13159005, '...
24    {'login': 'jbrockmendel', 'id': 8078968, 'node...
25    {'login': 'DRudel', 'id': 5006589, 'node_id': ...
26    {'login': 'rhshadrach', 'id': 45562402, 'node_...
27    {'login': 'phofl', 'id': 61934744, 'node_id': ...
28    {'login': 'phofl', 'id': 61934744, 'node_id': ...
29    {'login': 'attack68', 'id': 24256554, 'node_id...
Name: user, dtype: object

In [89]:
js['user'][0]

{'login': 'jonashaag',
 'id': 175722,
 'node_id': 'MDQ6VXNlcjE3NTcyMg==',
 'avatar_url': 'https://avatars.githubusercontent.com/u/175722?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/jonashaag',
 'html_url': 'https://github.com/jonashaag',
 'followers_url': 'https://api.github.com/users/jonashaag/followers',
 'following_url': 'https://api.github.com/users/jonashaag/following{/other_user}',
 'gists_url': 'https://api.github.com/users/jonashaag/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/jonashaag/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/jonashaag/subscriptions',
 'organizations_url': 'https://api.github.com/users/jonashaag/orgs',
 'repos_url': 'https://api.github.com/users/jonashaag/repos',
 'events_url': 'https://api.github.com/users/jonashaag/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/jonashaag/received_events',
 'type': 'User',
 'site_admin': False}

In [1]:
df

NameError: name 'df' is not defined

In [91]:
#convert into json data

In [92]:
df.to_json('test123.json')

NameError: name 'df' is not defined

In [93]:
pwd

'D:\\Jupyter notebook'

In [94]:
pd.read_json(r'D:\Jupyter notebook\test123.json')

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,None,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,None,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,None,None,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,None,None,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,None,None,None,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,None,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [95]:
#how to store data

In [96]:
df.to_csv('D:\store1.csv')

NameError: name 'df' is not defined

In [97]:
#sep data from decimeter

In [98]:
df.to_csv('D:\store2.csv',sep='@')

NameError: name 'df' is not defined

In [99]:
#remove index from file

In [100]:
df.to_csv('D:\store3.csv',index = False)

NameError: name 'df' is not defined